{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="m-5 text-4xl text-center">Order: {{ order.id }}</h1>
    <div>
        <div class="bg-primary-light rounded px-2 py-1 mt-5 mb-2 flex flex-row justify-end items-center gap-3 text-ctext-dark">
            <div>Status: {{ order.status }}</div>
            <div>Created: {{ order.createdAt|date("d/m/y H:i:s") }}</div>
        </div>
        <table class="table w-full">
            <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% for item in order.cart.cartItems %}
                <tr>
                    <td>{{ item.article.title }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.article.priceInCents|price }}</td>
                    <td>{{ (item.article.priceInCents * item.quantity)|price }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td>Total</td>
                <td>{{ order.totalPrice|price }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

