{% set page = pager.currentPageNumber %}
{% set pages = pager.pageCount %}
{% set isLong = pages > 4 %}
{% set totalItems = pager.totalItemCount %}

<div class="paginator">
    {% if pages > 1 %}
        <div class="paginator-nav">
            <ul>
                {% if page > 1 %}
                    <li>
                        <a href="{{ path(route, {'page': 1}) }}">First</a>
                    </li>
                {% endif %}
                {% if page - 1 > 0 %}
                    <li>
                        <a href="{{ path(route, {'page': page - 1}) }}">Previous</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path(route, {'page': page}) }}">{{ page }}</a>
                </li>
                {% if page + 1 <= pages %}
                    <li>
                        <a href="{{ path(route, {'page': page + 1}) }}">Next</a>
                    </li>
                {% endif %}
                {% if page < pages %}
                    <li>
                        <a href="{{ path(route, {'page': pages}) }}">Last</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    <div class="paginator-text">
        <p>Page {{ page }} of {{ pages }}</p>
    </div>
    <div class="paginator-text">
        <p>Total items: {{ totalItems }}</p>
    </div>
</div>
