<div class="paginator">
    <div class="paginator-nav">
        <ul>
            <li>
                <a href="{{ path(route, {'page': 1}) }}">First</a>
            </li>
            <li>
                <a href="{{ path(route, {'page': page - 1}) }}">Previous</a>
            </li>
            {% for i in 1..pages %}
                <li>
                    <a href="{{ path(route, {'page': i}) }}">{{ i }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="{{ path(route, {'page': page + 1}) }}">Next</a>
            </li>
            <li>
                <a href="{{ path(route, {'page': pages}) }}">Last</a>
            </li>
        </ul>
    </div>
    <div class="paginator-text">
        <p>Page {{ page }} of {{ pages }}</p>
    </div>
</div>
