<ul class="navbar__menu">
    <li>
        <a href="#">Articles</a>
        <ul class="navbar__dropdown">
            <li><a href="{{ path('admin_article_list') }}">List All</a></li>
            <li><a href="{{ path('admin_article_create') }}">Create</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Users</a>
        <ul class="navbar__dropdown">
            <li><a href="{{ path('admin_user_list') }}">List All</a></li>
            <li><a href="{{ path('admin_user_create') }}">Create</a></li>
        </ul>
    </li>
    <li>
        <a>Orders</a>
    </li>
    <li>
        <a href="{{ path('admin_options') }}">Options</a>
    </li>
    <li>
        <a href="{{ path('app_logout') }}">Logout</a>
    </li>
    <li id="dark-mode" class="icon sun-icon cursor-pointer">
    </li>
</ul>
