{% extends 'admin/dashboard/partials/_dashboard_card_base.html.twig' %}

{% set orders_to_deliver = orders_to_deliver ?? [] %}

{% block card_header %}
    <h2>Orders</h2>
{% endblock %}

{% block card_body %}
    {% if orders_to_deliver|length > 0 %}
        <table class="table w-full">
            <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Date Placed</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders_to_deliver %}
                {% set email = order.user.email ?? order.guest.email %}
                {% set isGuest = order.user is null %}
                <tr>
                    <td class="text-center">{{ order.id }}</td>
                    <td>{{ email }}{{ isGuest ? ' (Guest)' }}</td>
                    <td>{{ order.createdAt|date("d/m/y H:i:s") }}</td>
                    <td class="text-center">
                        {% if canShip(order) %}
                            <div class="flex flex-row justify-center">
                                <a href="{{ path('admin_order_show', {id: order.id }) }}"
                                   class="mx-1 button button-info cursor-pointer">
                                    <div class="icon info-icon"></div>
                                </a>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center m-2">
            <a href="{{ path('admin_order_list', {'orders_filter[status]': 'confirmed'}) }}">Orders to be prepared...</a>
        </div>
    {% else %}
        <h2 class="m-5 text-2xl text-center">No orders pending of shipment found...</h2>
    {% endif %}
{% endblock %}
