{% extends 'admin/admin_base.html.twig' %}

{% block body %}
    <h1 class="m-5 text-4xl text-center">List Articles</h1>
    <div class="table-container">
        <div class="flex flex-row">
            {% include 'admin/article/partials/_articleFilter.html.twig' %}
        </div>
        <table class="w-full">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Featured</th>
                <th>Enabled</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td class="text-right">{{ article.priceInCents | price }}</td>
                    <td class="text-right">{{ article.stock }}</td>
                    <td class="text-center">{{ article.isFeatured }}</td>
                    <td class="text-center">{{ article.isEnabled }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'Common/paginator/_paginator.html.twig' with {
        page: page,
        pages: totalPages,
        route: 'admin_article_list'
    } %}
{% endblock %}
