{% extends 'admin/admin_base.html.twig' %}

{% set isEmpty = articles|length < 1 %}

{% block body %}
    <h1 class="m-5 text-4xl text-center">List Articles</h1>
    <div class="table-container">
        <div class="flex flex-row">
            {% include 'admin/article/partials/_articleFilter.html.twig' %}
        </div>
        <table class="w-full">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Featured</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td class="text-right">{{ article.priceInCents | price }}</td>
                    <td class="text-right">{{ article.stock }}</td>
                    <td class="text-center">{{ article.isFeatured }}</td>
                    <td class="text-center">{{ article.isEnabled }}</td>
                    <td class="text-right">
                        <div class="flex flex-row justify-center">
                            <a class="mx-1 button button-info cursor-pointer">
                                <div class="icon info-icon"></div>
                            </a>
                            <a class="mx-1 button button-warning cursor-pointer">
                                <div class="icon edit-icon"></div>
                            </a>
                            <a class="mx-1 button button-danger cursor-pointer">
                                <div class="icon trash-icon"></div>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if isEmpty %}
            <h2 class="m-5 text-2xl text-center">No articles found...</h2>
        {% endif %}
    </div>

    {% if not isEmpty %}
        {% include 'common/paginator/_paginator.html.twig' with {
            page: page,
            pages: totalPages,
            route: 'admin_article_list'
        } %}
    {% endif %}
{% endblock %}
