{% extends 'admin/admin_base.html.twig' %}

{% set isEmpty = articles|length < 1 %}

{% block body %}
    <h1 class="m-5 text-4xl text-center">All Articles</h1>
    <div class="card">
        <div class="card__header">
            <div class="flex flex-row">
                {% include 'admin/article/partials/_articleFilter.html.twig' %}
            </div>
        </div>
        <div class="card__body">
            <table class="table w-full">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Featured</th>
                    <th>Enabled</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.title }}</td>
                        <td class="text-right">{{ article.priceInCents | price }}</td>
                        <td class="text-right">{{ article.stock }}</td>
                        <td class="text-center">{{ article.isFeatured }}</td>
                        <td class="text-center">{{ article.isEnabled }}</td>
                        <td class="text-right">
                            <div class="flex flex-row justify-center">
                                <a href="{{ path('admin_article_show', {'id': article.id}) }}"
                                   class="mx-1 button button-info cursor-pointer">
                                    <div class="icon info-icon"></div>
                                </a>
                                <a href="{{ path('admin_article_edit', {'id': article.id}) }}"
                                   class="mx-1 button button-warning cursor-pointer">
                                    <div class="icon edit-icon"></div>
                                </a>
                                <a href="#"
                                   class="mx-1 button button-danger cursor-pointer confirm-popup"
                                   data-popup-body="Are you sure you want to delete this article?"
                                   data-popup-href="{{ path('admin_article_delete', {'id': article.id}) }}"
                                >
                                    <div class="icon trash-icon"></div>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if isEmpty %}
                <h2 class="m-5 text-2xl text-center">No articles found...</h2>
            {% endif %}
        </div>
    </div>

    {% if not isEmpty %}
        {% include 'common/paginator/_paginator.html.twig' with {
            pager: pager,
            route: 'admin_article_list'
        } %}
    {% endif %}
{% endblock %}
