{% extends 'admin/admin_base.html.twig' %}

{% block body %}
    <h1 class="m-5 text-4xl text-center">List Articles</h1>
    <div class="bg-blue-100 rounded p-2">
        <table class="border w-full">
            <thead class="bg-blue-300">
            <tr>
                <th class="px-2 py-1 border border-blue-200">Id</th>
                <th class="px-2 py-1 border border-blue-200">Title</th>
                <th class="px-2 py-1 border border-blue-200">Description</th>
                <th class="px-2 py-1 border border-blue-200">Price</th>
                <th class="px-2 py-1 border border-blue-200">Stock</th>
                <th class="px-2 py-1 border border-blue-200">Featured</th>
                <th class="px-2 py-1 border border-blue-200">Enabled</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td class="px-2 py-1 border border-blue-200">{{ article.id }}</td>
                    <td class="px-2 py-1 border border-blue-200">{{ article.title }}</td>
                    <td class="px-2 py-1 border border-blue-200">{{ article.description }}</td>
                    <td class="px-2 py-1 border border-blue-200 text-right">{{ article.priceInCents | price }}</td>
                    <td class="px-2 py-1 border border-blue-200 text-right">{{ article.stock }}</td>
                    <td class="px-2 py-1 border border-blue-200 text-center">{{ article.isFeatured }}</td>
                    <td class="px-2 py-1 border border-blue-200 text-center">{{ article.isEnabled }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'Common/paginator/_paginator.html.twig' with {
        page: page,
        pages: totalPages,
        route: 'admin_article_list'
    } %}
{% endblock %}
