{% extends 'base.html.twig' %}

{% set cart = getSessionCart() %}
{% set isEmpty = cart|length < 1 %}
{% set total = 0 %}

{% block body %}
    <h1 class="m-5 text-4xl text-center">My Cart</h1>
    <div>
        <table class="table w-full">
            <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% if not isEmpty %}
                {% for item in cart %}
                    <tr>
                        <td>
                            <div class="flex flex-row items-center">
                                <form action="{{ path('cartitem_remove') }}" method="post" class="w-fit">
                                    <input type="hidden" name="item_id" value="{{ item.article.id }}">
                                    <input type="submit" value=""
                                           class="icon trash-icon mx-2 border rounded shadow cursor-pointer">
                                </form>
                                <div>{{ item.article.title }}</div>
                            </div>
                        </td>
                        <td class="text-center flex flex-row justify-center items-center gap-1">
                            <form action="{{ path('cartitem_increase_quantity') }}" method="post" class="w-fit">
                                <input type="hidden" name="item_id" value="{{ item.article.id }}">
                                <input type="submit" value=""
                                       class="icon plus-icon p-1 border rounded-full shadow cursor-pointer">
                            </form>
                            <div>{{ item.amount }}</div>
                            <form action="{{ path('cartitem_reduce_quantity') }}" method="post" class="w-fit">
                                <input type="hidden" name="item_id" value="{{ item.article.id }}">
                                <input type="submit" value=""
                                       class="icon minus-icon p-1 border rounded-full shadow cursor-pointer">
                            </form>
                        </td>
                        <td class="text-center">{{ item.article.priceInCents|price }}</td>
                        <td class="text-center">{{ (item.article.priceInCents * item.amount)|price }}</td>
                        {% set total = total + (item.article.priceInCents * item.amount) %}
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td class="text-right">Total</td>
                    <td class="text-center">{{ total|price }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {% if not isEmpty %}
            <div class="flex flex-row justify-center gap-3 my-4">
                <a href="#">
                    <button class="button button-primary">Login</button>
                </a>
                <a href="{{ path('app_register') }}">
                    <button class="button button-accent">Register to checkout</button>
                </a>
            </div>
        {% else %}
            <h2 class="text-center my-2 text-2xl">Cart is empty...</h2>
        {% endif %}
    </div>
{% endblock %}
